
@font-face {
  font-family: 'VALORANT';
  src: url('/css/VALORANT.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VALORANT';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAACIgABIAAAAAVIgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEU0lHAAAiGAAAAAgA
AAAIAAAAAUdERUYAAB8AAAAAIgAAACIAzAERR1BPUwAAHyQAAAJoAAAFbp1tqjdHU1VCAAAhjAAA
AIwAAADekaaRdU9TLzIAAAIMAAAARgAAAGAwaMzEY21hcAAAAzwAAAESAAAC6jMNOFhjdnQgAAAF
mAAAAA4AAAAOAKQDPWZwZ20AAARQAAABAgAAAXMGWZw3Z2FzcAAAHvgAAAAIAAAACAAAABBnbHlm
AAAFqAAAFv0AAEKsVow8cGhlYWQAAAGUAAAANgAAADYbc34naGhlYQAAAcwAAAAgAAAAJAooBoho
bXR4AAACVAAAAOYAAAGA9G8TR2xvY2EAAByoAAAAwgAAAMLvVt1abWF4cAAAAewAAAAgAAAAIAJu
AchuYW1lAAAdbAAAALsAAAE4bLrTN3Bvc3QAAB4oAAAAzQAAARKVVhbdcHJlcAAABVQAAABBAAAA
TrEgVeYAAQAAAAEAAInVJ+tfDzz1ABsD6AAAAADat2GXAAAAANq42Wn//P93BtgCzQAAAAYAAgAA
AAAAAHjaY2BkYGB695+NIYVd8f8fBga2GwxAERSQAACJ4QW9AAEAAABgAEQAAwAAAAAAAQAAAAAA
CgAAAgABgwAAAAB42mNgYZrEOIGBlYGFqYspgoGBwRtCM8YxGDHqMCCBBqAgMl8BCBgOAGlZpnf/
2RhSmN4x/GKAqmH8wrQHpISBCQAH2wwfAAB42mP8wgABvxgYGCUYGJjuMXgCMSvTDiB9lkGXaS+Q
NgLiEigdweDJrAkUX8/gySgAxKf+/2E8xsDK+J7Bk+USAysQezIzQ9VMgNJbgfrCGNSYZjM4wcyH
qWXaCbTrBxS7AflTgGYGAdnqDCpMFkC+PIMwkx/Yblam6UC5k0B8nkEKZDdTDpAtxuDOyAfEokAM
ZIPNA2LGvQx8jPuA7FlQd0L5YPUPIWrhbBA+DTTPBYhB/oX6HdmfYHPeY/hNB+w3XwYzsP8WQf3j
BjGHVZfBk10RSLMxsAIxnA/yBxgD9QEAy65EewAAeNrVkUdOgzEQhT/zh1ADgQQIJRBCCb33Fnrv
bYEo4hIsEOfhCOy4BAskDsARWJtnB2XFArFA4klje954bM17QIAP84LBoUmZ8XnYPHnm9avyHQr4
CQIGmM9nc0wwqb2fUfoYYYx2OugkQxfdXNFDL9cMMcyMbs0yqLWQMEUUU0oZESqoJMoU1cSooZY6
EtRzQwONJGkmRZo2dY37/1YVIdZY55wSytlgky2q2GaHOLvssc8BhxxxzInmb+GUVs7UNc3/wDIr
LLLEAllCJiEmLn0CTY3USnPBpdS55yGVtNZ3RKRRxrO3YmNijf1wBftm37U+65hzPaq3HO4Uj3kv
/8rD3/jm1MjB6eEgbT4ByTYzogAAeNpdkD1OxDAQhcc4LOQGSBaSLSsUK6/oqVI4kVCaQCg8DT/S
rkT2DkhpaFxwlqEzXS6GYJKNttjGM+/N6POzE4BrEuRt+BbiC5P4+0zgr38gB/nyvEkgnNZV70m8
sjhzbKwNd9LpmmRRPwaLOup4v4261u9vW8qKufJgF/FWE3Sh5/MpGCpRHdsd4h1zsomTzZyITNgv
hP1MYMAvL527RpO8acNDoMErKj0qY3RFYxto9Mog8tbqmJTrR3+1ZL7gzKs1N5cHSheoVAQY40FZ
Q0OMKvI7Fp1gPDEEnBrlYvBPTERZVEkM7TwarFGTYY01nBM93527pgsVJzW4+Qck6mvkAAB42tvB
wKDNsIuBEQiZtBl3MTBBGPuBDG0GFQYZBhEGHgYGBg5thv1AGR1UoV0MzEB17No7GBgUXGszJVwA
VK0JBwAAAAAKAH8AgAAAAA4CvgAMAAB42u1bDXBcV3V+9+3efbur91b7tLvSrp+869WudiVrtdLq
by0nkv/Ij+0kdhI72ATHsZNGZoBQoE3IBLAgiSFD22mdliQzrctMQJCZQgIzpI7GBAYoIS3BYgok
gNpABui0BQIdKG1SPfc79963+9aShTPQNg0e6eg9XdnvnnvOd875zn13NV3brmn6d/RTWkpLayMn
NW1Aw49L9p3U2oacx7U2LTC9Xw100EAHDbB5rUvTtMDAcK1uj01cxEa6WGdogPUMMYMupYRd327w
g0lLDwR46GjS+vgnrORBbszOmPqHuRFfOswj8eefjxvsH9yfH8OjdI3jx/3QI6F1tuoRoWkjPj3i
NBBXehhQXOjBSI2UnfRpwbrsiK5jYtM8KFU4ykPsr2Zi+om4ufR6kzSIsL3HmKlJO7wV8yc1R5v2
z6/RdJrGG/NbNGBJhVKLGIyf1DKL0MXRbKFLIj+yliXbWVcnLoV8T2kcRmLl0iaWt/fqcTM8Oxs2
l37KDYOd+AjnH3Fhf/O+WNvcXFvsPtPgZKKlLzwTNp51t2Jmpg2e+Zk+p/+dNsiSfs04KcJ9mvXT
QL/UjEOrjsUtXPsWfPbPEP3AFkcL4yYN6YNsgFwO2Qc5AnkH5P2QByAfg+D/a1+GWAfwZDytexEP
MLRu+L5bK0PqkMsgr4XMQG6HvA9yP+SjkL+GPAmxDkCNb+LmhxD9QAM9eFwIt52QEmQCcinkOsgt
kNsgxyAfhMxBHoN8CSIe9w3c/ACiH4C9x6b1rizMHWpnoVK5yoxYIJXM6qPTrD7NciyLAVbuqeqD
k4fuvuLqe0cCLLgrGA3kXzc2tGe6WNq8Z3hk37pAFIMsMPoH1+6868YJdujKuw/XGdu8Af9wG/5D
aZCx8rZ9IyP7tvaySinIgtvwPya3sMmbjmkKP38K/HRoOe1Dfi8FyCkBn5diNBCTXkoAPwHYNrvI
TmrrhgAkyDoMaAuEPCz021pG+xeIcF8EN/TVD5mEbIfsh7wBcgfkXsiDkIchj0OegpD7MnhiREE1
t0gWo2jJ6l2dMZ0iZbw+OjKtj49V8RsC97nL333DJNMnD9+14xkE7RurV08VClNXV9+oP8qNiQPv
umzHew9tMPjbaYz+Rhil9Q9h/VntmlVXv4YG1tDq5zVTBIy0AKm3Jk4WAT6iAh8ntSiBeEHoOyqC
qpBPjdJ1gKXyI51wtwgvqMweNU33iy+a5ovs+hAP7rCS7p9xg/Q1Z8wPmbdYfxkNHoobXPPrmmvV
dVmkp2kgLXWNau1CJTKhAV3TuNqkqw1Q0x9sDIQXRPSTYtDQp6kvEexlp6WCvxTaXgwN3d3IBfqp
CD8UF6oafEalAa1F3zXajlX1TdBAYiV9hZ5dq+spcucKKlozLdq5P1mmm/0ydYv4dAudrZux4GVQ
ONvT0a+b8DRLcB6Aho8o7cjLpKFPO8qb/6afQd4cY92r5s1hGhiWupW1vFCFC/+K/Gkjf9pe/rQB
CBv500b+tJE/beRPG/nTRv60kT9t5E8b+dPGbDbypy0CcBhPc2T+dLBWB9M4yJ8O8qeD/OkgfzrI
nw7yp4P86SB/OsifDvKn4+VPB/nTkfmzs5k/O8VXCTIBuRRyHeQWyG2QY5APQuYgj0G+BFH5sxP5
s7M1f7Yz5Emkz56YLvNnoF7oQdlCsqAcGih4OXT77HDY2BxoC6573aiXQsuXXbQ++gV4ZbOV+nEg
wJAY775CpdJ7DiGVjg+Fw9dyxnsrrG/r/pHavq0l1j28pRThN3TY6+wrkG9FLpWYOgJM5bUb/H5L
kZtSPiaQpYGshykklQFk0R5k0Cikp5FFqXQRrmQ+sRflNbPQYC8pOy9vOkEgQhJpeQk5pJYZi+UM
fgQwox/u9whxgsaY7o8BQwwvvZ5+sg4Cn9Jfewr6W1rer3+I1A0p4hJEhAqyMKpYi0T3jOUBGgTF
F2dn/uvMT9hdeGZGe+O5bMIlwDgAxgEwDoBxAIwDYBwA4wAYB8A4AMYBMA6AcQCMewDjABiXAIsD
6aQdfN/ViSI67hkqGdMN1NgS3xUxsoO9w5Sq8hftGhzZuy58+VbDyAaCG3rZd8k4heo1U71ML+cj
ZBNkXnYU+tutNmkWQ0Y+ZJLMJRrTGQHhj8i/kx8iXxIULsa2sEM0w52xNteNR7w8xH4k6m/vuVhs
cFHYvb1pd18NkcZn6RAP7LQS7jPKCadl2WjmO6wj+AGBzev98zRJqRroooGuFcGqQJpQIF2zQFVR
VpUEfo8tNumsj9WO25QIvUtJMVt2RPDbGct9kG7cB6SFiOG6fezrguea7Fm3Epc/I8pWwdNYQ0F7
7cq+OFfAddNAt1pDEToHhySHKULvdQuSwqxZFNbtYvZYszMoyxRe9mdykHJ2hKi5rgdFl+A+QL9h
JTIE4m6FPWvKZoF93e0z5c9mfqc8cQrrcLSr/OuwSUvbp3azjjNaA+of5QRffgjjvl3xo85FX1cj
lpBqUV02NlB8xmxqK9saoa/oLKSixAtRgwIaalBCK7O3rVqF2mmgXaqdkaGcAYIyCOUMQjmDUM4g
lDMI5QxCOYNQziCUMwjlDEI5g1DOeKGcQSgTZ5R1rCDrWAF1rODVsQIMUkAdK6COFVDHCqhjBdSx
AupYAXWsgDpWQB0rQN8C6lgBj4b1+oYIybi2ctQsOGrW46hZTJ0FR82Co2bhpCw4ahYcNQuOmgVH
zYKjZsFRsxoFxFMQKpFZPDGqfJBcFLUtiQKVRG1LorYlUduSqG1J1LYkalsStS2J2pZEbUuitiVR
25JebUuitiV9tS2gilddVrUyiG4hFhCl7Iq7D21gbKOqVbNUyYb2bCqy0ua9Q1TavOq18eZ7dqoS
dbkoXX3b9tdq+7aUqCsQWNTRPz6BKtSSf4Lk1KD0sqC2KV/jPCqZYbuMaGoPPYTpcW5EjiOWwcM+
536bIBYjiBkcfeJn4xH+4tJpD1+3A19PY95xdv1540sMdNJApyyf63DD7Y5JIkDyTkKnJqFTA3Rq
HnRqgE4N0KkBOjVApwbo1ACdGqBTA3RqgE4N0KlBlRqgUyPoUHtMK6fakhLXqFbxSIyDOR042oGj
HTjagaMdONqBox042oGjHTjagaMdONrxHO3A0Y7AeUploDiupQVahqZFsQwBzwrgWfHgWQE8K4Bn
BfCswG8VwLMCeFYAzwrgWQE8K4BnBfCsAJ4VTOYHkpEiL02xaoDg1DVOKWItmw6ML0NVddebNlkz
5uZbd1Vm1wxOF5Gmi1OD6Qa0bpI9JkFr2+03bG67zbJ+v23TjXdu7t8xVWl7m2m+ta06vbNv5LVb
Jco0hbNHgLNsK878fVbnom+DJuGDWUKm4kCpnlBQG/ewduL5AOdIwd8xjL+ReNM/peB22v0WJeC1
YYMxQp3soUrQ41ro0akNnksPiuYOuCSxwLxez9MnJ6qCqmvgmOMl8KdPJa0dKATPIbOelPPHD/EI
pjT1GmZl2lbw+T2Ys1f7yPn0Gs2BtTSwVkI/KlNrFBaKAiVRpNYoUmsUqTWK1BpFao0itUaRWqNI
rVGk1ihSa9RLrVGk1iixJOBsiKIKV2CuZ0FWdY5Ft+P3tKyCxCipz0Z33aSYxKGqYuAqGDqRrzq5
en86zG/hRv+lByc2HN6x3tCfMLi7y6mV04FAsjSeZZ8md7g7J268fICxgZ03bWCPNHswXf+O8MXI
qnYJ00CYBuAQTt3YgKekIBqdBgs1mSgPsxmRgQJLS2L3TupErCIaXDocb9ZhkEb9fsyfejnzW0iL
an6qs55tRKUtTcSPUo0F6UNtRZVdcoMh/QlRYCXhNuP6iWBUzg0+9oRW1A6e59ytjI0LUtALz5mQ
XnguuCB5jRmX+3tBsffVougyhZfpTRRhJuypL4lNyyJa1iLZjViR8if4GeH8+lX3UhS5XQn4Cp1r
FTo9okMccy1+jzc2gRq+b8WARzMpQSgkAAHENqkkLbke2TzoJQqBCz88JN8UcUv4eAzryWn9q1Yo
kwZMGkB9jMCa0CfH6lKtSOsWc4TpLuxJOesTH5dauS5TRFLt9cbZbrY7GKV93mjQfdR9VO46RzzM
/kLETP+quDFowJA6EQKclkipJ5TPn366aRnMHHzefU46+xesTdojwlmZ3eFhVszdpV18nnOLeEmI
shnE1UJhO0sd2bjCba36uF+hxsn9il8Z91b3p8Ali7PjBDiBN3ZG+OcWvz5Ndyyj/zI6gouSRiep
4GRUeQ/imhH8QRM7TXL3MY6SnFR/gXPHx+oMXdcUa1Qng8mr6Ma2R9h6VB1qqk+gOLnfZGWBscOg
Qfe1R9k9IjGI6uTeKe/FHuyZM/qVou+2W3cO/CxMDERpIKraQtFzyU2BdtqH7Rii7ICrL3CIVoQV
O21fbNA3xD/pm7DzNm1C/sg03SQ3ZlnQ1B/iYWvpgBXWJ9yt7AnZO545w9qgX1zbuGpc+1950N6o
tSjedJgyX9b9PSFqZ2SHlfwAWkDznTyk7zwUp1ktvRaRtaGIOX+BObu18VXnbO7PIa+oXenMophu
JQ9NMfJfH6Zm13Ej5P5900NszD0lNQnz+yNh93YDhS0c5h9if6J0gp/Yz0QPfXiFvo2v0DJLrNli
nxi26FZYIyrSLVhrRN1JD1kLCpgLAmtYgXj70gBc6+sZ8tyauVBozv2hgNwfyzc07u8iSFCSnw0b
z1BtDlvHLYve0Ry3wnIdCazjBawj3ZpDmn006dVB21JN/tMI2Lzy4ZTSq/vnbalZzgPuP7KryJsu
yju7lU3Ho9x9v+V+37IeDvP72pX9dPTHIO1bV/Vpcw9iHvp0N/ba2xaFQmcTxJDccG12JKCJand9
Tjj3q2wE0fgFM0UZ7qfu15D7HyHPwki3y2C0o5xNypwP2/zrcqwvy3HNTTHpuqjcpIl4b9KaQB+i
1MZOk23+I2XuQEY7paAev5EjjwWEXXZjzrWwTEH7o1XnbemGxBsYydvy0jYJYSxT0YGE2KaZBxYT
minwlmvcrWvc5Rt3PY27grqT++1N3KkgGtvEygKUKHN22djLXoCBjx6NwNi2unvne2Zn36OfCvPj
MXNuLtp+nCx+vD06N2fGcD/70Y+6Wz/2MRlXrIu9l50AJUiLtc9jLCTh57OoRD0mvY7lLMv9nsVO
WG+28C2esUZ7P3tML6Kr2qCeESEswxgRlQ5jtElClD4stuvU7gn+wIgw0e79qOqJvBcgEuYFmrP8
Lkz0bgvfb7beZbEHG7cW/UHmcLV36rRmrCQ5LCkdFlsU02uN6e0F6cU0Td/YPCQMdyklZOyL7Vyx
YaM2Wtl6dg8i273TNOYwJhib5tWSXvFevNAaZctqyToaWNesJR2L8hXeGlIySw022X28mXiasUWj
wlJe38++aIY/LCv311zwqmMGfyvaQATadkpACLFvEJGwjaUvvwWLeAtlIh3dy6x2Wp+E37u0YeU1
SySeZQiQKpK3Ig1vqflhH//9nlsty/vWJ2OEkJh7Wv5Oc8JPT+oV4actK+9yzyO+kmLOEEFnsbHr
LZWw1YY8+aze4qVEy2/XKlcpzxnPmU/CT08iO15p0nsy8hgT+nwVfVtba1/ckl78qaXuX6qA//vU
2uhZf6idFs86ZxzVl1nqfdZ3LXyrOg++SxhO+3Vpkg5vg9ejkWIzV9JHkVxp/zbKl26yo9oqz1P0
MOBRU2+nVTJAuamaMkXXcYp2UaO2/hec+GcMuXle7MWnV+B74nlemVKsuxwopV6UzSCx7IB48osG
+x12GdWnT4JaR212qaqLlPs/ufz5TVoj9U10qt19wfVJ55dCoZdkdZHsnvaAHzfC7jzVld1sF6V5
9a79fvH8XGvH2VyBGnBowFGvF9IiJFZaW8CfMcZ/9lJjpUz2Ey/xhzz4iSVHuOomsGR2DQJRvKzR
/ofe/fw/9xfiiX1eo/cNZ8WmvyaHWsr+suBCqVfRJfId+zz7c/G8Lu1151Pl1RTyJWBqQdQvei0g
m356lR+hjDgkaaYpjiG0quFt89GvUqWnrRbNftzQ7ze93t82+73y/fub4Fn0jJdezjMewDOOnPUM
GOv3Xk7N8z9Qty1r6QWULe95F87AXTgD9+ucgbtw3ubCeZtXy3mbVzzH/F8563LhfMWF8xW/7ecr
KsBXp/40jDjC7lqh+155B/2so84ntaIEXBGAKwJwRQCuCMAVAbgiAFcE4IoAXBGAKwJwRQCuCMAV
PcAVAbiiAJwB/1Ul4KoAXNUDXBWAqwJwVQCuCsBVAbgqAFcF4KoAXBWAqwJwVSygCsBVJeBGh4gz
4doKuH4Art8DXL84ck5fk5DtkP2QN0DugNwLeRDyMISo11MQjy+ZjUPnAnA5AC4HwOUAuBwAlwPg
cgBcDoDLAXA5AC4HwOUAuBwAl/MAlwPgcg3A1Se6RrI6CI3Rpd4JxpgPfuIgBmpqJbfxmrGtO3cK
EtObvz7A+WzSSg7cXL8CUHyP4Dx7pgqlLXuHanumC+xw/ci+S5IOu+jme66YevPgbTwad5zsRg+Q
/a/ZN0xHMfov2f8KOocxceYFfVj/W20Tc1bOfvOwdalBsRISOQkgJ+EhJwHkJICcBJCTAHISQE4C
yEkAOQkgJwHkJICcBB6eAHISEjmbgZpJyGZfok9LP6fh5zRmTWPuNPychp/T8HMafk7Dz2n4OQ0/
p+HnNPyc9vychp/TpBdhcBIYnPQwOCk+8kAIpK/tkP2QN0DugNwLeRDyMORxyFMQwuCk2NGXqBkd
6STKFeopVwMFQbk6wYvBkmM6gYd6k2mGXDY6MjE+VhpiVTZR3rZ/5Kq3rzXClwTbghGn0JfK9HfH
S6XDw9tra/Jbbpga2DlVbTeMTaBmsZ6+6pr6xoH1h/fczF4Y2r2xp16MGJcHeTRpR9vT6zrWrg8n
IuWJbb19V033dqwt2Ebkas6CltMZGy5lB8NJ+8j/0bma7eDt17+qztXs/Y2cq3klnlt41byr/63+
vFRAnMH+gXi/VNPGtAMr7+uf62B2iQZKquUYVW961uNJdC2IN73z6AQ6tELjoEgrCilG+FgLBfdO
aYeGWGm8167v9R3MVh/fNPS8dTAhuLkV5oKcm8GZiLtvRrxgkIiVDYRpNtg60g3o+k9CQX6sLfYO
7/OeWH/oWay/V9uivWnVU+jNY6orHAsQA3UaqCtzOFqPWH5CnC+b1y4S1W8eRh70nzdrPZruv8qt
Kvvc1vEfXCdOkbDcBwxpDvH+0AimTHH+y6LXU+L4VxufCfsOtMNS1MFIy/RRdJDN3EfZa1Y2m/x8
bPCz4hzHeu3SVe1VpIGi6sYG1CF9OtIxILpwGTMdQDUbPZf7YYB8ywslfd+N0u9qQcLvxtJnjjYx
ot4zreh19hrxoV8sWz/BI57/eUB8XnCw9eTeMhrd7K/VQJkGymqBVdVuVs/RbqZb280JVMjUWf5m
xAyaa/UaUPKZ3616cjbSweUnmlNtS0sB3uhKO+Qy3VNNj+qfDoebKxbrDX5frHdMu/blrbdKA9XG
BoNM3e3iEzrzeE6x9YPYq62x1dm/aqmev89vsT7HSyc3Y7yobWuN8V8d0mM0MOYbuJgGLlZGmNQ2
i8UP007vAMU8VzEvz0j5VrsCwtXi86PntBYFgH5A2eCsUG4YZGlpRdsZ+illjLNioU9Z5hw2PGvf
Zbf4fOrqJw/8NT4Yl0He7Z0Xs1obYWKGhbydLyt20qzfKNyZlLkDmcz9JeOfI26SMo+rIyiW/hBU
vJFH3W3/yaP2E9H2+3g43KLj9PmcuxU6ejEpPjfL6eNS8k2BsD90oRM+o9DR6+oE5xBnYqDMP0kd
WcR9qamjfsrgSwd42IaG7DNCw7bYfZ4dL/RGr6Le6L8B42zgYQAAAAAAAAAAAAAAAAAARACEANIB
pAIkAnoC0gMgA24ESgSqBNQFNAVkBZgF+gZeBrAHpAfgCNgJHAlWCeIKIgpgCsoLMgt8C7oMAgxm
DLYM8A06DZ4N2g4sDmYO5g8ID0gPjA/iEBwQZBCKEKoQ0hD6ESoRWhGoEdISAhIyEloSqhLSEvoT
ShOaE7wT3hQGFFQVJhYCFmIWjBbaFw4XYBhUGJAZnBngGsgbAhuOG9gcPBy8HTwd1B48HrQfLh/K
IBwgbiFWAAB42nWOuwrCUAyGv9oWL+BldurqIucUocMBoUunUqGUTi4ORYSi0NLVZ/ARfFTTehxE
TCD5kj/8BJhxx6EPh8lQ+xgxlunNLmuWlj3Zbiz7zNGiOt5UNiv2lkcsyCy77Dha9uTmYdkXz2cZ
p4c8zoq8Onf1qSmrpr3croHeKqWMMaEKlUnSSOvP4dcFJTEpB3LpGYX0ijMdNScaUSupLRduXAnk
0y1qSDNkKBQOUyIukej6x/GvxwvDAikOAHjabczHLgUBAEbhb4wWRO81RK9X75GI3nuXcdkQzEbw
Mp5CfTxuLKyc5CT/2fzS/PL9YsB/XKQMgjShOc1atGqzpF2HZZ26dOuxrk/Clv7Ux6Ahw0aNOTZu
wolJZ6ZMK1GqTLkKlarVKJQvXZM69YoUKDYjV55ekQaNcmT49OXdh1dvZs1bsGLVmg2btu3YtWff
gUNHTp1bDMIgPcgIMoOsIFuVWiNZj/FNIpGYC5NRHN5Hce5l8ur24S75cJ3acfRXYRw9pXz+AXTN
Jr8AAAAAAQAB//8ADwABAAAADAAAAAAAAAACAAMAAgBWAAEAVwBcAAIAXQBfAAEAAHjahVM7bxNB
EP5u72wnDneEh0J4QxqEwHLsJAaZlwXGkRxCImSBQGCJAlGAUiAapFR0/AGaQJEWCkvQuIoEgsIo
DQoNkltL0NDQM3w7Z19eh9nRt4+Z2ZnZue/gAEhjHFWYcuVaDcHj+08XcAAe9RCBta/vHZhHD54s
INB5L9XWHs4O/QwGiLST5+mX3juIEmPXcIfzou6reEl5hRVKCZ8o9ryCL2qzUsI3RslKA3V5zt0x
eYOafGbMrHxghpS04BMjxChRIaaJWWKOSCIhr7GHyEsTE8Qk92WuNkKbERJSp71Oe472HO11FGgp
EmWerd9DznXp2Px8R41I4rA8wxFiiijIGv3XcJt7h+/0GHcQO+BjFzszglGcRgZZ5DGBKZzBOVzG
FZRRwTRmMYeb7Mk9GBPYPplFd5z3duI/Q5qUtnT4ltjx5y07BinKqiwTzc22KMpqd11GZt1HluTF
P/Mu9a1K48mPbfpWjG9LvveJ9FV+bn0xuxo3dtOW23b/XWzUNvFRfsfGGY683sfe7diXaZcyka7R
/xt1v1Sjv0fMcMgUjzxLKZd8vtEyaR+5tJ//5CEcJRePYwwncBKnlF+WXZO8VSDDzqJIlp3HBVzE
Jf5FId+uKuOqmCHrrpN387hBNlv22T/2FvkNzedEfXY29caoJk0Mkd2AqxaX1Vn0RooIdE1SesOj
uIzgk9nW166JSKC+Xjc71D68IRs0n7+hIqM132Umh0gSPQn30CqcSGPh6slQAq3H0/MQJWD8gHX4
zD+gt60lrdkNuxF6DmqFPYH6pjX21vzh2dU8Pb2Jdoz+F86cuGB42mNgZGBg4GIwYPBiYHJx8wlh
4MtJLMljkGJgAYoz/P/PAJJHsBkZmHIy0xOBqkCkCFAYJA8hGYHqWMA0BxBXMbAyCDAoMZgw+DEk
MDAxsDHwMIQDaVEw6QMViQCLRIBFmIH6+IBmRgN5sgwxQFKOIQpImkLVRoLVRhJQywi0lwUoIwpk
+wAAiFAULQAAAAEAAAAA) format('woff'), url('VALORANT.ttf')  format('truetype'), url('VALORANT.svg#VALORANT') format('svg');
  font-weight: normal;
  font-style: normal;
}


