@font-face {
    font-family: 'boing';
    font-style: normal;
    font-weight: normal;
    src: local('VALORANT Regular'), url('./styles/Valorant Font.woff') format('woff');
    }

    .font {
        font-family: 'boing'
    }