@font-face {
    font-family: 'boing';
    font-style: normal;
    font-weight: normal;
    src: local('VALORANT Regular'), url('./styles/Valorant Font.woff') format('woff');
    }
    test {
        color: rgb(255, 217, 94)
    }
    

    .font {
        font-family: 'boing'
    }
    .trim {
        overflow: hidden;
    }