@font-face {
    font-family: 'boing';
    font-style: normal;
    font-weight: normal;
    src: local('VALORANT Regular'), url('./styles/Valorant Font.woff') format('woff');
    }
    test {
        color: #90b5ff;
    }
    

    .font {
        font-family: 'boing'
    }
    .trim {
        overflow: hidden;
    }
    .column {
        display: flex;
        flex-direction: column;
    }

    .user-stats-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(192, 133, 133);
    }

    .stats-container{
        display: flex;
        width: 100%;
    }
    
    .match-info {
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
        background-color: rgb(110, 108, 135);
        height: 30px;
    }

    .match-header {
        margin-top: 0;
        margin-bottom: 0;
        font-family: Oswald;
        font-weight: 200;
        font-size: 16px;
        color: rgb(194, 194, 194);
        letter-spacing: 1.5px;
        height: 25px;
        margin-top: 2px;
        margin-left: 50px;
        display: flex;
        justify-content: space-between;
        margin-right: 50px;
        
    }

    
    .kda {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
        width: 150px;
        padding-top: 15px;
    }

    .kda-header {
        border: 1px solid blue;
        font-family: Oswald;
        font-size: 14px;
        width: 100%;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    .kda-stats {
        border: 1px solid red;
        font-size: 20px;
        font-family: Oswald;
        width: 100%;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    .kda-ratio {
        font-size: 14px;
        font-family: Oswald;
        width: 100%;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    .score {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid black;
            width: 110px;
            margin-right: 10%;
            padding-top: 15px;
    }

    .score-header {
        border: 1px solid blue;
        font-family: Oswald;
        font-size: 14px;
        width: 100%;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    .score-stats {
        border: 1px solid red;
        font-size: 20px;
        font-family: Oswald;
        width: 100%;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }


    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');